#map {
  height: 100vh;

}
html, body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

a:focus, a:hover {
	outline: 3px solid #orange;
}

.wide-view {
  max-width: 100%;
}

.lrg-text {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  background-color: #0B3C5D;
  color: tan;
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
}

.header {
  width: 100%;
}

div.options {
  display: flex;
  flex-wrap: wrap;
  background-color: #328CC1;
  color: #D9B310;
  border: 3px solid #0B3C5D;
  height: 15%;
  line-height: 35px;
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h2.top-sidebar{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  width: 50%;
  margin-bottom: 0;
}

.show-locations {
  overflow: auto;
}

.list-museums {
  font-size: 1.0em;
}

.list-item {
  margin: 10px;
  cursor: pointer;
}

.drop-down-filter {
  width: 50%;
}

.fas fa-arrow-alt-circle-up  {
  padding: 15px;
  color: #0B3C5D;
}


.see-options {
  width: 150px;
  height: 30px;
}

@media screen and (min-width: 600px) {
  html, body {
    display: block;
  }

  div.options {
    display: block;
    position: absolute;
    z-index: 100;
    width: 250px;
    max-width: 75%;
    height: 100vh;
    margin: 0;
  }

  .drop-down-filter {
    width: 100%;
  }


  h2.top-sidebar{
    width: 100%;
    height: 40px;
    padding-bottom: 20px;
  }

  .fas fa-arrow-alt-circle-up  {
    display: none;
  }

  .list-museums {
    font-size: 1.0em;
  }

  .list-item {
    margin-bottom: 0;
  }
}
